body{
  color: white;
  background-color: #2c3e50;
}

main{
  height: 100vh;
  width: 100vw;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form,
.greetings{
  display: none;
}

.showing{
  display: block;
  animation: fadeIn 2s ease-in-out backwards;
}


@keyframes fadeIn{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}

.bgImage{
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  animation: fadeIn 2s ease-in-out backwards;
}

.js-weather{
  position: absolute;
  top: 30px;
}